// Định nghĩa các màu chủ đạo của theme
$theme-colors: (
  "main": #008874,  // Màu chính
  "normal-text": #10412b,  // Màu chữ bình thường
  "bold-text": #d4d4d4, // Màu chữ đậm
);

// Định nghĩa gradient màu
$main-gradient: radial-gradient(159.85% 367.97% at 150% 123.85%, 
  #ffe147 0, 
  #65ae17 38.76%, 
  #469c4b 59.65%, 
  #00713b 100%);

// Áp dụng màu gradient và các màu từ theme-colors
body {
  background: $main-gradient;  // Gradient cho background
  color: map-get($theme-colors, "normal-text");  // Màu chữ chính
}

// Ví dụ cho các thành phần khác
h1, h2, h3 {
  color: map-get($theme-colors, "bold-text");  // Màu chữ đậm
}

.main-container {
  background-color: map-get($theme-colors, "main");  // Màu nền chính cho container
}
